Python/.idea/
Fsharp/StatisticalML/obj/
Fsharp/StatisticalML/packages/
Fsharp/chap1/LinearRegression/obj/
Fsharp/chap1/LinearRegression/bin/
Fsharp/StatisticalML/.vs/StatisticalML/v16/.suo
Fsharp/StatisticalML/bin/Debug/
Fsharp/StatisticalML/.vs/StatisticalML/v16/.suo
Fsharp/StatisticalML/.vs/StatisticalML/v16/.suo
